:root{
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);
}

*,*::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
    overflow-x: hidden;
}

body{
    font-family: "Epilogue", sans-serif;
    background-color: var(--AlmostWhite);
    overflow-x: hidden;
}

main{
    min-height: 100vh;
}

p{
    line-height: 1.2;
    font-size: 18px;
}

a:link, a:visited{
    text-decoration: none;
}

li{
    list-style-type: none;
}

button, .learn-more-btn{
    background-color: inherit;
    cursor: pointer;
}

svg{
    max-width: 100%;
}

button, img, svg, .learn-more-btn{
    display: block;
}

.container__flex{
    display: flex;
    align-items: center;
}

.dropdown__btn{
    border: none;
    font-family: "Epilogue", sans-serif;
}

.dropdown-menu{
    display: none;
}

.dropdown__btn span, .nav-link, p, .login-btn, .register-btn{
    color: var(--MediumGray);
}

.dropdown-menu-item .nav-icon{
    width: 18px;
}

.mobile__btn{
    height: 2rem;
    width: 2rem;
    border: none;
    outline: none;
}

.mobile__btn svg, .dropdown-menu-item .nav-icon svg{
    margin: 0 auto;
}

.dropdown__btn span, .dropdown-menu-item .nav-icon{
    margin-right: 5px;
}

.dropdown__btn span, .nav-link{
    font-size: 0.8rem;
    font-weight: normal;
}

.dropdown-menu-item{
    display: flex;
    align-items: center;
}

.sign__btn{
    width: 5rem;
}

.btn__border{
    padding: 0.6rem 1rem;
    border-radius: 10px;
    outline: none;
    font-family: "Epilogue", sans-serif;
}

.login-btn{
    border: none;
}

.register-btn{
    border: 2px solid var(--MediumGray);
}

.learn-more-btn{
    width: 9rem;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--AlmostBlack);
    color: var(--AlmostWhite);
    border: 2px solid var(--AlmostBlack);
    text-align: center;
}

.hide{
    display: none;
}

/* Hover */
.dropdown__btn:hover span, .dropdown-menu-item:hover, .nav-link:hover, .login-btn:hover, .register-btn:hover{
    color: var(--AlmostBlack);
    font-weight: 700;
}
.register-btn:hover{
    border-color: var(--AlmostBlack);
}

.learn-more-btn:hover{
    background-color: var(--AlmostWhite);
    color: var(--AlmostBlack);
}

/* Hero */
.clients{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Attribution */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
