:root{
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);
}

*,::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
    overflow-x: hidden;
}

body{
    font-family: "Epilogue", sans-serif;
    background-color: var(--AlmostWhite);
    overflow-x: hidden;
}

p{
    line-height: 1.2;
}

a:link, a:visited{
    text-decoration: none;
}

li{
    list-style-type: none;
}

button{
    cursor: pointer;
}

/* Header */
.header{
    padding: 0.5rem 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .left-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.logo{
    margin-right: 3rem;
}

/* .nav-menu{
    display: flex;
} */

.nav-menu-item{
    display: block;
}

/* .nav-menu-item:not(:last-child){
    margin-right: 0.8rem;
} */

.dropdown-btn{
    border: none;
    background-color: var(--AlmostWhite);
    font-family: "Epilogue";
}

.dropdown-arrow{
    margin-left: 0.3rem;
}

.dropdown__item{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    padding: 1.2rem;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px 1px var(--MediumGray);
}

.dropdown-menu *:not(:last-child){
    margin-bottom: 3px;
}

.dropdown-menu.feature .dropdown-menu-item .nav-icon{
    margin-top: 10px;
}

.dropdown-menu.feature .dropdown-menu-item{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dropdown-menu.company .dropdown-menu-item{
    margin-bottom: 0.5rem;
}

.dropdown-btn, .nav-link, p{
    color: var(--MediumGray);
}

.nav-link, .dropdown-btn{
    font-size: 0.8rem;
    font-weight: normal;
}

/* Signup */
.sign__btn{
    width: 100px; 
    padding: 0.7em 1.4em;
    background-color: var(--AlmostWhite);
}

.sign__btn.login{
    border: none;
    color:var(--MediumGray);
}

.sign__btn.register{
    border: 2px solid var(--MediumGray);
    border-radius: 10px;
}

.sign__btn.login,.sign__btn.register{
    transition: color 0.3s linear, font-weight 0.3s linear, border-color 0.3s linear ,transform 0.3s linear;
}

.sign__btn.login:hover, .sign__btn.register:hover,.nav-link:hover, .dropdown-btn:hover{
    color: var(--AlmostBlack);
    font-weight: 700;
}

.sign__btn.register:hover{
    border-color: var(--AlmostBlack);
}

.sign__btn.login:active, .sign__btn.register:active{
    transform: scale(0.9);
}

/* Hero */

.hero-image{
    height: 100%;
    object-fit: contain;
}

.hero-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-content > *{
    margin-top: 2.5rem;
}

.learn-more-btn{
    display: block;
    background-color: var(--AlmostBlack);
    color: var(--AlmostWhite);
    font-size: 1rem;
    padding: 0.7em 1.4em; 
    border-radius: 10px;
    transition: color 0.3s linear, background-color 0.3s linear, transform 0.3s linear;
}

.clients{
    display: flex;
    align-items: center;
}

.client-icon{
    display: block;
}

.client-icon:not(:last-child){
    margin-right: 1.2rem;
}

.learn-more-btn:hover, .learn-more-btn:active{
    background-color: var(--AlmostWhite);
    color: var(--AlmostBlack);
}

.learn-more-btn:active{
    transform: scale(0.9);
}

.hide{
    display: none;
}

/* Attribution */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}